<a href="https://colab.research.google.com/github/Srikanth-9492/My_python_notebook/blob/main/Srikanth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Module1_Python29-04-2025

In [ ]:
#what is python
"""1.Python is most emerging,general purposing programming language
   2. Python is high level programming language
   3.Python is a dynamcally typed programming language
   4.Python is object oriented programming language
   5.Python is interpreted programming language """
#what is comment?
#for better understanding of the code we use comments
#comments are 2 types
#1.Single line comment
#2.multiline comment-->double triple quotes(""" """)

In [ ]:
#print "Hello world!" in python?
print("Hello world!")
#print()-->it is inbuilt function used to execute and display the result

Hello world!

Numerical data types

In [ ]:
#How many types of Numerical data types/
#there are 3 types
#1.Integer--->int-->a whole number eithe +ve or -ve without decimal point is known as integer
print(20)
print(5)
#find the type for above elements
#type()--- is an inbuilt function used to print the data type of the object
print(type(10))
print(type(5))

20
5
<class 'int'>
<class 'int'>

In [ ]:
#float----> #float---> A whole number either +ve or -ve with decimal point is known as float
print(10.5)
print(-5.5)
#find the type for above elements
print(type(10.5))
print(type(-5.5))

10.5
-5.5
<class 'float'>
<class 'float'>

In [ ]:
#3.Complex numbers----->complex----> A REAL NUMBER withits imaginary part is known as complex number
#imaginary is denoted with letter 'i'---->is known as iota
print(2+5j)
print(6j+3)
print(type(2+5j))
print(type(6j+3))

(2+5j)
(3+6j)
<class 'complex'>
<class 'complex'>

Arthemetic Operators

In [ ]:
#How many types of arthimetic operators do we have in Python?
#There are 7 types of arithemetic operators
#1.Addition----->
print(10+5)
print(type(10+5))

15
<class 'int'>

In [ ]:
#2.Substraction------>
print(10-5)
print(type(10-5))

5
<class 'int'>

In [ ]:
#3.Multiplication ------>
print(2*3)
print(type(2*3))

6
<class 'int'>

In [ ]:
#4.Division------>
print(10/5)
print(type(10/5))
#what is default data type for the division--->why
#some times in divison we may get decimal number in quotient or integers also.So the founder
#(Gudeo Van Rossum) to get the proper quotient data type for division is float

2.0
<class 'float'>

In [ ]:
#5.Modulus--->%----> remainder of the division
print(10%5)
print(type(10%5))

0
<class 'int'>

In [ ]:
#6.Exponential---->**---> to the power off
print(2**3)
print(type(2**3))

8
<class 'int'>

In [ ]:
#7.Floor Division---->//---->also known as integer division
#it ignores the values after the decimal point for a quotient
print(10/3)
print(10//3)

3.3333333333333335
3

In [ ]:
#what is floor value?
#The values before the decimal point is known as floor value
#what is ceil value?
#the text upcoming value for a decimal number where the decimal point is more than 0.5

round()

In [ ]:
#1.round() works only for the decimal numbers
#2.if the decimal point more than 0.5 round() print the next upcoming value--->ceil value
#3.if the decimal point less than 0.5 round() print the floor value
print(round(9))
print(round(5.5))
print(round(5.48))
print(round(1234.46789))
print(round(567.987))
#round() is used print number with specific ndigits
#round(number,ndigits)

9
6
5
1234
568

In [ ]:
print(round(231537.8378844540))
print(round(426.3284747,3))

231538
426.328

In [ ]:
print(round(785.42563,0))
print(round(6589.32947890,5))
print(round(12.59426,4))

785.0
6589.32948
12.5943

In [ ]:
#round(-ve digit)
#variables
#types of errors
#industrial rules to create the variables
#what is dynamically typed programming language
#why python is interpreted programming
#prove python is a case sensitive programming language
#smart ways of writing variables
#input()

30_04_2025

round()

In [ ]:
print(3754.2366325)
print(round(3754.2366325,2))

3754.2366325
3754.24

In [ ]:
print(3754.2366325)
print(round(3754.2366325,-2))
#after decimal point the number become zero

3754.2366325
3800.0

In [ ]:
print(3754.2366325)
print(round(3754.2366325,-3))

3754.2366325
4000.0

In [ ]:
print(3754.2366325)
print(round(3754.2366325,-4))

3754.2366325
0.0

In [ ]:
print(round(827256.723456,-3))

827000.0

In [ ]:
print(round(827256.723456,-4))

830000.0

In [ ]:
print(round(-12345.4567,-3))

-12000.0

In [ ]:
print(round(73424.3452,-5))

100000.0

In [ ]:
print(round(53624.73626,-5))

100000.0

Variables

In [ ]:
#what is a variable?
#variables are containers where we can store our valuable information/data to reuse it
#How can we create a variable and how can we access the data from variables?
a = "Hello world!"
print(a)
print(type(a))

Hello world!
<class 'str'>

In [ ]:
#take two variables and apply all arthemetic operators
a = 10
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)

15
5
50
2.0

Types of Errors

In [ ]:
#How many types of errors do we have in Python?
#there are 2 types of errors
#1.Syntax Error:-when you break rules of a programming language it can rise syntax error
'''hello I am using
multiline comment when we use single triple quotes
we need to enclose with single quotes"""
#2.logical Error:-except syntax error all the errors comes under logical errors
print(10* *5)
#ex:- indentation errors,Name error, Type error, attribute error, recurssive error....etc

rules to create variables

In [ ]:
#1.start creating the variables by using alphabets
son = 20
print(son)

20

In [ ]:
#2.dont start creating the variable by using numbers
2 = "hello"
print(2)

In [ ]:
#2.dont start creating the variable by using numbers
2 = "hello"
print(2)

In [ ]:
#4.dont use special characters in the variable name--->!,@,#,$,%,^,&,*,?,white space
son@age = 20
print(son@age)

In [ ]:
#5.start creating the variable by using under score __
_ = 10
print(_)

10

In [ ]:
#instead of space use the underscore
son_age = 20
print(son_age)

20

In [ ]:
#6.Dont use the inbuilt keywords in the variable name
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
None = 90
print(None)

In [ ]:
#7.we cannot encourage to write a variable name in uppercase letters
SONAGE = 30
print(SONAGE)

30

In [ ]:
# object oriented programming means each LOC having own identity own properties own interaction based on three ways the object is belongs to certain category of class

Python is a dynamically typed programming language

In [ ]:
#we no need to define the datatypes to the variables in the python
#python can read the data automatically by itself
a = 10
print(type(a))
b = "How"
print(type(b))

<class 'int'>
<class 'str'>

Python is a interpreted programming language

In [ ]:
#python execute the code step by step and last line of values can be taken into consideration
a = 20
b = 4
a = 5
b = 10
print(a+b)

15

Python is a case sensitive programming language

In [ ]:
c = 10
print(C)

Smart ways of writing variables

In [ ]:
#1.assign multiple value to multiple variables and printing separate line?
# hint:take 3 variables and assign values
a = 10
b = 5
c = 4
print(a)
print(b)
print(c)

10
5
4

In [ ]:
a,b,c = 10,20,30
print(a,b,c, sep='\n')

10
20
30

In [ ]:
#Assign the same value to the variables and print in sep line
a = b = c = 10
print(a,b,c, sep='\n')

10
10
10

In [ ]:
a = b = c = 10
print(a,b,c)

10 10 10

01-05-2025

***input()***

In [ ]:
#what is input()?
#input() is a inbuilt function where it can intakes any kind of information or value and store it
#How can we create the input()?
#by assigning to a variable
a = input('Enter your Name: ')
#HOow can we access the information from input()?
print(a)

In [ ]:
#take 2 input functions and apply addition on it
a = input('enter num1: ')
b = input('enter num2: ')
print(a+b)
#Note:- The default data type for input() is strings
#adding of two strings is known as concatenation

enter num1: 7
enter num2: 3
73

In [ ]:
#How can we deal with numerical data when we use input()?
#before the input() we need specify the particular numerical data type, int or float
a = int(input('enter num1: '))
b = int(input('enter num2: '))
print(a+b)

enter num1: 3
enter num2: 5
8

In [ ]:
a = float(input('enter num1: '))
b = float(input('enter num2: '))
print(a+b)

enter num1: 34.6
enter num2: 23.6
58.2

#Strings

In [ ]:
    #what is Strings?
#string is collection of multiple characters where each characters can be accessible
#How can we declare string?
#a string declared by using(" ") or (' ')
#How many types of strings do we have?
#There are 2 types
#1.single line string--->" " or ' '
#2.multiline string---->"""double triple quotes """ or '''single triple quotes'''

In [ ]:
print("Hello world!")
a = """Hi
       Good day!
       Today session is about strings"""
print(a)

Hello world!
Hi
       Good day!
       Today session is about strings

In [ ]:
#How can we access the characters from the string
#by using indexing and slicing operator---->[]
#what is indexing?
#positional number character in the string
#the indexing can be starts from zero
#The process of accessing a range of characters from string is known as slicing
#The range of characters from the main string is known as sub-string

In [ ]:
a = "Hello world!"
#from the above string print letter 'w'
#syntax:- [index number]
print(a[6])
#print letter 'd'
print(a[10])

w
d

In [ ]:
#access the range of characters from above string print only "hello"
#syntax :- [start:end_index] ----> always give the end_index can be ---->n+1
print(a[0:4])
#

Hell

In [ ]:
b = "Hello world!"
print(b[6:12])

world!

In [ ]:
c = "hello good evening!"
#print "good"
print(c[6:10])

good

In [ ]:
d = "Hello world!"
#from above string print the characters at the even inde position number
#syntax---->[start:end:step]
print(d[0:12:2])
#from above string print the odd index position characters.
print(d[1:12:2])
#print the last character of the string
print(d[11])

Hlowrd
el ol!
!

In [ ]:
#what is negative indexing?
#accessing the range of characters in reverse direction by using -ve indexing
#negative indexing starts with -1
a = "Hello guys accessing the range of characters in reverse direction"
#syntax:- [-ve_index]
print(a[-1])

n

In [ ]:
#access the range of characters in reverse direction--- for ex access 'world!'
#expect_output:- !dlrow
#syntax:- [start-ve index:end-ve index]
a = "Hello world!"
print(a[-1:-7:-1])
print(a[6:12])
#Because the default slicing direction is from left to right
#if you want to reverse a string we need define the step_index as -1

!dlrow
world!

In [ ]:
#find the length of the below string?
d = "Hello world!"
print(len(d))
#len starts from 1

12

Default indexing

In [ ]:
a = "Hello World!"
print(a[:])
print(a[0:len(a)])
print(a[::2])
print(a[1::2])

Hello World!
Hello World!
HloWrd
el ol!

In [ ]:
#check the string whether it is palindrome or not
b = input("enter the string")
print(b[::-1])

02-05-2025

String Methods

In [ ]:
#what is string? #what are all the methods we can apply on string
#The methods applied on string is known as string methods
#if i want to know all the methods of a string use---> dir()
a = "Hello World!"
print(type(a))
print(dir(a))
"""'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map',
'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable',
 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',
  'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip',
'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill'"""

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

"'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', \n'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable',\n 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',\n  'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', \n'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill'"

In [ ]:
#tell me aa 10 important string methods?

In [ ]:
a = "hello World!"
#capitalize():- it coverts 1st letter capital
print(a.capitalize())

Hello world!

In [ ]:
#2.upper():- it converts the string into lower case
print(a.lower())

hello world!

In [ ]:
#3.lower():- it converts the string into lower case
print(a.lower())

hello world!

In [ ]:
#4.title():- converts 1st letter of string into capital letter after every white space
print(a.title())

Hello World!

In [ ]:
#***5.replace(old,new):- replace the old string with new string
#replace the 'world' to 'universe' and print 'hello universe!'
b = "hello world!"
print(b.replace('world','universe!'))

hello universe!!

In [2]:
#6.strip:-removes the unwanted spaces from leading and trailing side of a string
c = "     Hello World!"
print(c)
print(c.strip())

     Hello World!
Hello World!

In [3]:
#7.lstrip():-removes the space from the left side of the string
print(c.lstrip())

#8.rstrip():-removes the spaces from right side
print(c.rstrip())

Hello World!
     Hello World!

In [ ]:
#9.find():-finds the index number of character in the string
d = "Medha edu-Tech"
#print the index position of '-'
print(d.find('d'))
print(d.find('-'))
print(d.find('x'))
#if the character are present means find() returns index position number else returns -1

2
9
-1

In [ ]:
#10.index():-finds the index number of chracter in the string
d = "medha edu-Tech"
print(d.index('d'))
print(d.index('x'))
#q)what is the difference between index() and find()/
#in find() method if the character is not found means it returns -1
#where as in index() method if the character is not found means it rise an error

In [ ]:
a = "Hello world!"
print(a.find('l'))

2

In [ ]:
#swap case():- converts the upper into lower and lower into upper
b = "Medha edu-tech"
print(b.swapcase())

mEDHA EDU-TECH

In [ ]:
#11.zfill():- fill the zeroes infront of the string to match the length of argument
print(b.zfill(20))

00000000hello world!

String Format methods

In [ ]:
#f'string {format} method:-
#it takes  an argument and place it over the place holder
age = 10
text = f'my age is {age} years old'
print(text)

my age is 10 years old

In [ ]:
item = input("Enter your item name: ")
quantity = int(input("enter quantity: "))
price_each = float(input("enter price of each: "))
notify = f"""Your order for {item} is confirmed with an quantity of {quantity} and Total price is {price_each*quantity}"""
print(notify)

Enter your item name: biryani
enter quantity: 3
enter price of each: 199.0
Your order for biryani is confirmed with an quantity of 3 and Total price is 597.0

sub-slicing

In [ ]:
a = "Hello world!"
print(a[0:5][2:6])

llo

05-05-2025

In [ ]:
#what is condition?
#we have 3 conditions
#if,else,elif
user_name = int(input("Enter your marks: "))
if user_name>=45:
  print("Congratulations")
  print("You have pass")
else:
  print("Better luck next time")

Enter your marks: 45
Congratulations
You have pass

In [ ]:
#write a program if the num is >0 print +ve result else print -ve. if the num is equal to zero point neutral
#if---elif---else
num = int(input("Enter number: "))
if num>0:
  print("Positive")
elif num==0:
  print("Neutral")
else:
  print("Negative")

Enter number: 0
Neutral

In [ ]:
#how can we check the condition?
#comparison operators or relational operators
#1.equlal's too---> "="
#2.not equal too--->"!="
#3.greater than---> >
#4. less than ---> <
#5. greater than or equal too ---> >=
#6. less than or equal too--> <=

In [ ]:
#logical operators ---> 3 types
#And- if all the conditions are true than only execute the program
#logical operators ---> 3 types
#And- if all the conditions are true than only execute the program
#or- if any one condition is true execute program
#not: it reverse your actual output
print(10==10)
print(10==25)
print('H'=='h')
print(not(10==10))

True
False
False
False

In [ ]:
a = 25
b = 10
c = 15
d = 60
#check a>c and d>b and c<b
if a>c or d>b or c>b:
  print("all the statements are true")
else:
  print("any one statement is wrong")

all the statements are true

08-05-2025

Conditional statements

In [ ]:
#conditional statements: is used to check specific condition is ssatisfied or not

In [ ]:
#To build decision making codes  we use conditional statements
#How can we check a condition?
#to check the condition we need to use comparison operators
#There are 6 comparison operators
#1.equlal's too---> ==
#2.not equal too---> !=
#3.greater than---> >
#4. less than ---> <
#5. greater than or equal too ---> >=
#6. less than or equal too--> <=

In [ ]:
#How many conditional statements do we have?
#3 conditional statement
#if--->elif---->else
#what is if?
#if i want to check a single true condition will use 'if'
#what is else?
#other than if condition or if the

In [ ]:
#check the 10 is greater than 5 or not
a = 10
if a>5:
  print("True")
else:
  print("False")

True

In [ ]:
#check a string is palindrome or not irrespective of letter case
print('hello' == 'hello')
print('Hello' == 'hello')

True
False

***Nested conditions***

In [ ]:
#writing a condition inside another condition is known as nested condition
#1.why we require nested condition? or what is the purpose of nested condition?
#A Block of code can be executed if the previous condition is true
#nested conditions give the series of output

In [ ]:
a = 20
#check this num is greater than 10,20,30,40 and 50
#iff the a>10---> 35 is greater than 10
#iff the a>20---> 35 is greater than 20
#iff the a>30---> 35 is greater than 30
#iff the a>40---> 35 is greater than 40
#iff the a>50---> 35 is greater than 50
if a>10:
  print('a is greater than 10')
  if a>20:
    print('a is greater than 20')
    if a>30:
      print('a is greater than 30')
      if a>40:
        print('a is greater than 40')
        if a>50: #removed extra indentation here
          print('a is greater than 50')
        else:
          print('a is less than 50')
      else:
        print('a is less than 40')
    else:
      print('a is greater than 30') #this line also has logic error and should be 'a is less than 30'
  else:
    print('a is less than 20')
else:
  print('a is less than 10')

a is greater than 10
a is less than 20

In [ ]:
#conditional statements ---> if-->elif--->else
#comparison operators is also known as relational operators--->6 types, ==,!=.>,<,>=,<=

Ternary operator

In [ ]:
x = 5
result = "even" if x%2==0 else "odd"
print(result)

odd

In [ ]:
a = "Hello good morning"
#check "good" is present in above string
if "good"

In [ ]:
#write a program to check eligible for vote or not
#greater than or equal to 18years
x = int(input("Enter your age: "))
if x>=18:
  print("You are Eligible")
else:
  print("You are not Eligible")

Enter your age: 14
You are not Eligible

In [ ]:
#write a program to check the grades of the students based on the received marks
#if the student is having marks from 40 to 60---> print "D" grade along with marks
#if the student is having marks from 61 to 70---> print "c" grade along with marks
#if the student is having marks from 71 to 80---> print "B" grade along with marks
#if the student is having marks from 81 to 90---> print "A" grade along with marks
#if the student is having marks from 91 to 100---> print "A+" grade along with marks
#if the sudent is having marks than 100 print "Dont be smart"
#if the student is having marks less than 40 print "Better luck next time"
#Use tha nested if condition along with elif.
marks = int(input("Enter your marks: "))

if marks > 100:
    print("Don't be smart")
elif marks >= 91:
    print(f"You got a A+ with {marks} marks!")
elif marks >= 81:
    print(f"You got a A with {marks} marks!")
elif marks >= 71:
    print(f"You got a B with {marks} marks!")
elif marks >= 61:
    print(f"You got a C with {marks} marks!")
elif marks >= 40:
    print(f"You got a D with {marks} marks!")
else:
    print("Better luck next time")

Enter your marks: 95
You got a A+ with 95 marks!

Pass

In [ ]:
#what is pass?
#pass is a null place holder whrn executes nothing will happens
a = 10
if a>20:
  pass

512